 *{
    margin: 0;
	padding: 0;
    font-family: sans-serif;
 }
 .banner{
    width: 100%;
	height: auto;
	background-size: cover;
	background-position: center;
 }

.bg{
	background-image: url("background.jpg");
	background-size: cover;
}
 .navbar{
    width: 90%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: spaced-between;
 }
 .logo{
    width: 30%;
	cursor: pointer;
	position: center;
 }
 .navbar ul li{
     list-style: none;
	 display: inline-block;
	 margin: 0 30px;
	 position: relative;
	 
 }
 .navbar ul li a{
     text-decoration: none;
	 color: #fff;
	 text-transform: uppercase;
 }
  .navbar ul li::after{
     content: '';
	 height: 3px;
	 width: 0%;
	 background: #009688;
	 position: absolute;
	 left: 0;
	 bottom: -10;
	 transition: 0.5s;
 }
 .navbar ul li:hover::after{
     width: 100%;
	 
 }
 .content{
     width: 100%;
	 position: absolute;
	 top: 38%;
	 transform: translateY (-50%);
	 text-align: center;
	 color: #fff;	 
 }
 .content h1{
     font-size: 250%;
	 margin-top: 60px;
	 
 }
 .content p{
     margin: 20px auto;
	 font-weight: 100;
	 line-height: 25px;
 }
 .button{
     width: 200px;
	 padding-top: 10px;
	 padding-bottom: 10px;
	 padding-left: 80px;
	 padding-right: 80px;
	 text-align: center;
	 margin: 30px 10px;
	 border-radius: 25px;
	 font-weight: bold;
	 border: 2px solid #009688;
	 background: transparent;
	 color: #fff;
	 cursor: pointer;
	 text-decoration: none;
 }
 
 .button:hover{
     width: 200px;
	 padding-top: 10px;
	 padding-bottom: 10px;
	 padding-left: 80px;
	 padding-right: 80px;
	 text-align: center;
	 margin: 30px 10px;
	 border-radius: 25px;
	 font-weight: bold;
	 border: 2px solid #009688;
	 background: #009688;
	 color: #fff;
	 cursor: pointer;
	 text-decoration: none;
 }